<% content_for :header do %>
	<h1><%= @movie.title %> </h1>
<% end %>
<% content_for :body do %>
	<table>
		<tr>
		<td  class="title">Title</td>
		<td > <%= @movie.title%> </td>
		</tr>

		<tr>
		<td class="title">Poster</td>
		<td> <img src='<%= @movie.poster %>'> </td>
		</tr>

		<tr>
		<td class="title">Plot</td>
		<td> <%= @movie.plot %> </td>
		</tr>

		<tr>
		<td class="title">Year</td>
		<td> <%= @movie.year %> </td>
		</tr>

		<tr>
		<td class="title"> Cast</td>
		<td>
			<% @movie.cast_members.each do |member| %>
			<%= member.full_name + ', '%>
			<% end %>
		</td>
		</tr>	
		</table>
		<% if @movie.reviews.present? %>
		<%= button_to(@movie.title, movie_reviews_path(@movie), :method => "get") %>
		<% else %>
		<%= button_to('Be the First to Coment!', new_movie_review_path(@movie.id, 'reviews'), :method => "get") %>
		<% end %>
<% end %>
