<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% @reviews.each do |e| %>
<div class="big">
	<div class="header"><%= e.reviewer %></div>
	<div><%= e.content %></div> 
	<div class='header'><%= time_ago_in_words(e.created_at) %>...</div>
</div>
<% end %>

<div class="button">
	<div class="button">
	<%= button_to('Return', movie_path(@movie), :method => "get") %>
	</div>

	<div class="button">
		<%= button_to('Create a review!', new_movie_review_path(@movie), :method => "get") %>
	</div>
</div>
</body>
</html>