<%= form_for [@movie, @review] do |f|%>
	<div>
		<div class="button"><%= f.label :reviewer %></div>
		<div class="button"><%= f.text_field :reviewer%></div>
		<div class="red">
			<% @review.errors[:reviewer].each do |error_msg| %>
			  <%= error_msg %>
			<% end %>	
		</div>
	</div>
	<br>
	<div>
		<div class="button"><%= f.label :content %></div>
		<div class="button"><%= f.text_field :content %></div>
		<div class="red">
			
			<% @review.errors[:content].each do |error_msg| %>
			  <%= error_msg %>
			<% end %>
		</div>
	</div>
	<br>

	<%= f.submit 'Save'%>
<% end %>