<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <!-- <link rel="shortcut icon" href="/PATH_TO_STATIC_FAVICON/favicon.ico" type="image/x-icon"> -->
  <link rel="icon" href="../favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer id="nav">
	<div class="menu_buttons"><%= button_to('Movies', movies_path, :method => "get") %></div>
	<div class="menu_buttons"><%= button_to('Cast Members', cast_members_path, :method => "get") %></div>
</footer>
</body>
</html>
